apiVersion: v1
data:
  jgroups.jceks: "{{ jgroups_jceks }}"
  keystore.jks: "{{ keystore_jks }}"
kind: Secret
metadata:
  annotations:
    description: Default HTTPS keystore (keystore.jks) with name {{ keystore_name }} and password
      {{ keystore_pass }}  and JGoups keystore (jgroups.jceks) with name {{ jceks_name }} 
      and password {{ jceks_pass }} 
  labels:
    template: coolstore-monolith-binary-demo
  name: coolstore-secret