apiVersion: v1
kind: LimitRange
metadata:
  name: compute-ressource-range 
spec:
  limits:
    - type: Pod
      max:
        cpu: {{ size.limit_cpu }}  
        memory: {{ size.limit_memory }}  
    - type: Container
      max:
        cpu: {{ size.limit_cpu }}  
        memory: {{ size.limit_memory }}  
      default:
        cpu: 200m
        memory: 2Gi
      defaultRequest:
        cpu: 200m
        memory: 2Gi