apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources-quota
spec:
  hard:
    pods: {{ size.max_pods }} 
    requests.cpu: {{ size.request_cpu }} 
    requests.memory: {{ size.request_mem }} 
    limits.cpu: {{ size.limit_cpu }}  
    limits.memory: {{ size.limit_memory }}  

